{% extends "./common/navbar.html"%}
{%block contents%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> Total Monitoring</h1>
        </div><!-- /.col -->
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="callout callout-info" style="padding:2% 5%">
        <h4>Total Resource</h4><br>
        <div>
            <table width="100%" style="table-layout:fixed; text-align:center;">
              <tr>
                <td><h5 class="text-muted" style="display:inline">VM</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[0][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">VR</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[1][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">Cnode</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[2][0]}}</strong></td>
              </tr>
              <tr>
                <td><h5 class="text-muted" style="display:inline">Storage</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[3][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">Network</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[4][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">Loadbalancer</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[5][0]}}</strong></td>
              </tr>
            </table>
          <!-- /.card -->
        </div>
    </div>

      <div class="row">
        <div class="col-lg-4">
            <div class="callout callout-info">
                <h5><i class="nav-icon fas fa-server"></i> VM</h5></a>
                <form method='GET' action='/vm_start' class="form-inline">
                  <input type="text" class="form-control" name='id' placeholder="ID를 입력해주세요." style="color:text-dark">
                  <button class = 'input-group-text' type='submit' name= 'click' value ="">
                    <strong>조회</strong>
                  </button>
                </form>
            </div>
          
            <div class="callout callout-info">

              <h5><i class="nav-icon fas fa-database"></i> Storage</h5></a>
              <form method='GET' action='/storage_start' class="form-inline">
                <input type="text" class="form-control" name='id' placeholder="ID를 입력해주세요." style="color:text-dark">
                <button class = 'input-group-text' type='submit' name= 'click' value ="">
                  <strong>조회</strong>
                </button>
              </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card -->
        <div class="col-lg-4">
          <div class="callout callout-info">
            <h5><img src="./static/dist/img/vr.png" width="23" height="23"> VR</h5></a>
            <form method='GET' action='/vr_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="ID를 입력해주세요." style="color:text-dark">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>


          <div class="callout callout-info">
            <h5><i class="nav-icon fas fa-wifi"></i> NetWork</h5></a>
            <form method='GET' action='/nw_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="ID를 입력해주세요." style="color:text-dark">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-4">
          <div class="callout callout-info">
            <h5><i class="nav-icon fas fa-th"></i> Cnode</h5></a>
            <form method='GET' action='cnode_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="ID를 입력해주세요." style="color:text-dark">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>


          <div class="callout callout-info">
            <h5><i class="nav-icon fas fa-network-wired"></i> LoadBalancer</h5></a>
            <form method='GET' action='/lb_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="ID를 입력해주세요." style="color:text-dark">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->

  <!-- OPTIONAL SCRIPTS -->
  <script src="/static/plugins/chart.js/Chart.min.js"></script>
  <!-- 차트 그리기  -->

  <script src=="/static/plugins/chart/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

  <script>
    var ctx = document.getElementById("vmChart");
    var chartData = {
        labels: [
            "Running",
            "Halted",
            ""
        ],
        datasets: [{
            data: [50,0,50],
            backgroundColor: [
            "#36A2EB",
            "#FFFFFF",
            ]
        }, {
            data: [20],
            backgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
            ],
            hoverBackgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
            ]
        }]
        };
    var pieChart = new Chart(ctx, {
    type: 'doughnut',
    data: chartData
    })


</script>
<!--
<script>  
    var ctx2 = document.getElementById("switchChart");
const labels = Utils.months({count: 7});
const data = {
  labels: labels,
  datasets: [{
    axis: 'y',
    label: 'My First Dataset',
    data: [65, 59, 80, 81, 56, 55, 40],
    fill: false,
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
    borderWidth: 1
  }]
};
const config2 = {
  type: 'bar',
  data,
  options: {
    indexAxis: 'y',
  }
};
var barchart = new Chart(ctx2,config2);
</script>
-->
{%endblock%}
