{% extends "./common/navbar.html"%}
{%block contents%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" style="display:inline;color:rgb(176,17,22)">KOR-Seoul-M2</h1>&nbsp;&nbsp;
          <h1 class="m-0" style="display:inline"> Total Monitoring</h1>&nbsp;
        </div><!-- /.col -->
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="callout callout-info" style="padding:2% 3%">
        <h4>Total Resource</h4><br>
        <div>
            <table width="100%" style="table-layout:fixed; text-align:left;">
              <tr>
                <td><h5 class="text-muted" style="display:inline">VM</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[0][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">VR</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[1][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">Cnode</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[2][0]}}</strong></td>
              </tr>
              <tr>
                <td><h5 class="text-muted" style="display:inline">Storage</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[3][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">L2 Switch</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[4][0]}}</strong></td>
                <td><h5 class="text-muted" style="display:inline">Loadbalancer</h5></td>
                <td align=center><strong class="h5" style="display:inline">{{total[5][0]}}</strong></td>
              </tr>
            </table>
          <!-- /.card -->
        </div>
    </div>
    <br>

      <div class="row">
        <div class="col-lg-4">
            <div class="callout callout-info">
                <h5><i class="nav-icon fas fa-server"></i> VM</h5></a>
                <form method='GET' action='/vm_start' class="form-inline">
                  <input type="text" class="form-control" name='id' placeholder="enter infra ID.." style="color:text-dark;width:300px;">
                  <button class = 'input-group-text' type='submit' name= 'click' value ="">
                    <strong>조회</strong>
                  </button>
                </form>
            </div>
          
            <div class="callout callout-info">

              <h5><i class="nav-icon fas fa-database"></i> Storage</h5></a>
              <form method='GET' action='/storage_start' class="form-inline">
                <input type="text" class="form-control" name='id' placeholder="enter infra ID.." style="color:text-dark;width:300px;">
                <button class = 'input-group-text' type='submit' name= 'click' value ="">
                  <strong>조회</strong>
                </button>
              </form>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card -->
        <div class="col-lg-4">
          <div class="callout callout-info">
            <h5><img src="./static/dist/img/vr.png" width="23" height="23"> VR</h5></a>
            <form method='GET' action='/vr_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="enter infra ID.." style="color:text-dark;width:300px;">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>


          <div class="callout callout-info">
            <h5><i class="nav-icon fas fa-wifi"></i> L2 Switch</h5></a>
            <form method='GET' action='/nw_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="enter infra ID.." style="color:text-dark;width:300px;">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-4">
          <div class="callout callout-info">
            <h5><i class="nav-icon fas fa-th"></i> Cnode</h5></a>
            <form method='GET' action='cnode_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="enter infra ID.." style="color:text-dark;width:300px;">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>


          <div class="callout callout-info">
            <h5><i class="nav-icon fas fa-network-wired"></i> LoadBalancer</h5></a>
            <form method='GET' action='/lb_start' class="form-inline">
              <input type="text" class="form-control" name='id' placeholder="enter infra ID.." style="color:text-dark;width:300px;">
              <button class = 'input-group-text' type='submit' name= 'click' value ="">
                <strong>조회</strong>
              </button>
            </form>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->


      <div class="row">

        <div class="callout callout-info">
          <h5 style="display:inline" >Today Utilization</h5><h6 style=" display:inline;color:#ced4da;"> (%)</h6>
          <canvas id="UseChart" width="300px" height="400px"></canvas>

        </a>
        </div>

      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->

  <!-- OPTIONAL SCRIPTS -->
  <script src="/static/plugins/chart.js/Chart.min.js"></script>
  <!-- 차트 그리기  -->

  <script src=="/static/plugins/chart/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

  <script>
    var ctx = document.getElementById('UseChart');
    const util_data = '{{utils}}';
    // var data_list = util_data.split(',')
    // const util_data=[3,2,4,1,5,2]

    var y = /[\[\]]/gi
    n_data = util_data.replace(y, "");

    var data_list = n_data.split(', ')  // 2021-07-23 00:00:00, 10, 34, 2021-07-23 00:00:15, 40, 13

    var visitorsChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: ['VM_CPU', 'VM_MEM', 'VR_CPU', 'VR_MEM','Cnode_CPU','Cnode_MEM'],
        datasets: [{
          label: 'using data',
          data: data_list,
          backgroundColor:[
            'rgb(242, 113, 115)',
            'rgb(105, 215, 195)',
            'rgb(255, 0, 0)',
            'rgb(0, 192, 170)',
            'rgb(176, 17, 22)',
            'rgb(0, 105, 135)']
          }]
        },
      options: {
        scale: {
          ticks: {
            min: 0, 
            // max: 20
          }
        }
      }
    });
  </script>

</script>

{%endblock%}
